snippet s*
	select * from ${1:table}
snippet inn*
	inner join ${1:table} on ${2:column} = ${3:column}
snippet lef*
	left outer join ${1:table} on ${2:column} = ${3:column}
snippet cro*
	cross join ${1:table}